body {
  background-color: #232323;
}

h1 {
  color: #fff;
}

.stripe {
  background-color: #fff;
  height: 30px;
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 80vw;
  max-width: 800px;
}

.square {
  background-color: purple;
  width: 30%;
  padding-bottom: 30%;
  margin: 1.66%;
  float: left;
}
